/* App.css */

body {
  background: url("../public/background-image.jpg") center/cover no-repeat fixed;
  overflow: hidden;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(58, 42, 69);
  min-height: 10vh; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for Multiplication Game */
.game-container {
  height: 90vh; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes blinkAnimation {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(188, 60, 60);
  }
  100% {
    background-color: white;
  }
}

.blink {
  animation: blinkAnimation 1s 1; /* Adjust the duration as needed */
}
